EcommerceAPI/Connected Services/ProductOrderService/ProductOrderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductOrderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61347/ProductOrderService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61347/ProductOrderService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61347/ProductOrderService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EcommerceService.Dbo" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductOrderService_CreateOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrder" />
  </wsdl:message>
  <wsdl:message name="IProductOrderService_CreateOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IProductOrderService_GetProductList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductList" />
  </wsdl:message>
  <wsdl:message name="IProductOrderService_GetProductList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductListResponse" />
  </wsdl:message>
  <wsdl:message name="IProductOrderService_UpdateProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProduct" />
  </wsdl:message>
  <wsdl:message name="IProductOrderService_UpdateProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductResponse" />
  </wsdl:message>
  <wsdl:message name="IProductOrderService_CreateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomer" />
  </wsdl:message>
  <wsdl:message name="IProductOrderService_CreateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomerResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductOrderService">
    <wsdl:operation name="CreateOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductOrderService/CreateOrder" message="tns:IProductOrderService_CreateOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductOrderService/CreateOrderResponse" message="tns:IProductOrderService_CreateOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductList">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductOrderService/GetProductList" message="tns:IProductOrderService_GetProductList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductOrderService/GetProductListResponse" message="tns:IProductOrderService_GetProductList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductOrderService/UpdateProduct" message="tns:IProductOrderService_UpdateProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductOrderService/UpdateProductResponse" message="tns:IProductOrderService_UpdateProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductOrderService/CreateCustomer" message="tns:IProductOrderService_CreateCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductOrderService/CreateCustomerResponse" message="tns:IProductOrderService_CreateCustomer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductOrderService" type="tns:IProductOrderService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateOrder">
      <soap:operation soapAction="http://tempuri.org/IProductOrderService/CreateOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductList">
      <soap:operation soapAction="http://tempuri.org/IProductOrderService/GetProductList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProduct">
      <soap:operation soapAction="http://tempuri.org/IProductOrderService/UpdateProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCustomer">
      <soap:operation soapAction="http://tempuri.org/IProductOrderService/CreateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductOrderService">
    <wsdl:port name="BasicHttpBinding_IProductOrderService" binding="tns:BasicHttpBinding_IProductOrderService">
      <soap:address location="http://localhost:61347/ProductOrderService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>